# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec
MANIFEST
/venv/**
/.settings/org.eclipse.core.resources.derived.prefs
